/* Geral */
body {
    background-color: rgb(206, 139, 212);
    font-family: "Comic Sans MS", "Comic Sans", sans-serif;
    margin: 0;
    padding: 40px;
    color: #fff;
    text-align: center;
}

h1 {
    color: #f8f8f8;
    margin-bottom: 40px;
}

/* Containers */
.container-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center; /* Alinha as caixas centralizadas horizontalmente */
    align-items: flex-start; /* Ajuste para garantir o alinhamento correto das caixas */
    margin: 0 auto;
    max-width: 1200px; /* Limita a largura do container */
}

/* Caixinhas */
.box {
    background-color: #e3f8fb;
    border-radius: 20px;
    padding: 20px;
    width: 250px;
    color: black;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: left;
    transition: transform 0.3s ease;
}

.box:hover {
    transform: scale(1.05);
}

.box h2 {
    color: #b45aa8;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.box p {
    color: black;
}

/* Botões */
.botao {
    background-color: #b45aa8;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 1em;
    margin-top: 15px;
    display: inline-block;
    transition: 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.botao:hover {
    background-color: #f78bb8;
    transform: scale(1.05);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

/* Responsividade */
@media (max-width: 768px) {
    .container-flex {
        flex-direction: column;
        align-items: center;
    }

    .box {
        width: 80%;
        margin-bottom: 20px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.5em;
    }

    .botao {
        font-size: 0.9em;
    }
}
